<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="demo" class="com.hfut.test.Demo"></bean>
   <bean id="myadvice" class="com.hfut.advice.MyAdvice"></bean>
    <aop:config>
        <aop:aspect ref="myadvice">
            <aop:pointcut id="mypoint" expression="execution(* com.hfut.test.Demo.demo1(String,int)) and args(name,age)"/>
            <aop:before method="mybefore" pointcut-ref="mypoint" arg-names="name,age"></aop:before>
        </aop:aspect>
        <aop:aspect ref="myadvice">
            <aop:pointcut id="mypoint1" expression="execution(* com.hfut.test.Demo.demo1(String,int)) and args(name1)"/>
            <aop:before method="mybefore1" pointcut-ref="mypoint1" arg-names="name1"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>